/* * ----------------------------------------------------- */
/* * -- default Settings -- */
/* * ----------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

main {
    width: 80%;
    height: 80%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    color: black;
    background-color: rgb(14, 14, 14);
}

h1 {
    font-size: clamp(16px, 5vw, 2.5em);
    padding: 20px;
    text-align: center;
}

p, span, a {
    font-size: clamp(11px, 2vw, 1em);
}

h1, a {
    color: white;
    text-decoration: none;
}

#step-category,
#step-object,
#step-verbrauch,
#step-tableNr,
#step-info {
    display: none;
}

/* * ----------------------------------------------------- */
/* * -- Auswahl -- */
/* * ----------------------------------------------------- */
.stepWrapper { 
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: gray;
}

.title {
    width: calc(100% - 40px);
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #087cb4;

}

.table-container {
    width: calc(80% - 40px);
    height: auto;
    margin: 0 auto;
    padding: 20px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    /* background-color: #1c4c98; */
}

#tableNr-container {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    padding: 20px;

    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    align-content: center;

    overflow: scroll;

    /* background-color: #1c4c98; */
}

#tableNr-container::-webkit-scrollbar {
    display: none;
}

.box {
    min-width: 80px;
    min-height: 8vh;
    max-width: calc(100% / 7 - 10px);
    max-height: 100px;

    height: 100%;

    display: flex;
    flex: 1 1 calc(20% - 10px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;

    background-color: #ccc;
}

.table-container > .box {
    padding: 20px 40px;
}

#step-object > .table-container > .box {
    max-width: calc(100% / 3 - 10px);
}

.longLayout {
    flex: 2 1 calc(40% - 10px);
    max-width: calc(100% / 2 - 10px);
}

.box:hover,
.box:hover,
.box:hover {
    box-shadow: inset 0 0 5px black;
    transform: scale(0.95);
    transition-duration: 100ms;
}

.box img {
    width: 42px;
    height: auto;
    margin-top: 20px;
}

#summary-content {
    max-width: 800px;
    margin: 0 auto;
}

#summary h1 {
    padding: 15px;
}

#summary p {
    margin: 5px 0;
    color: white;
}

#saveTodo {
    width: clamp(100px, 20vw, 200px);
    height: 40px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: greenyellow;
    border-radius: 50px;
}


/* * ----------------------------------------------------- */
/* * -- Todo Liste -- */
/* * ----------------------------------------------------- */
#todoWrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;

    /* background-color: gray; */
}

.titel-TodoList{
    width: calc(100% - 100px);
    height: 100px;
    margin: 0 auto;


    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    /* background-color: darkgray; */
}

.titel-TodoList a {
    margin-right: auto;
    position: absolute;
    left: 0;
}

#todoContainer {
    height: 100%;
    padding: 0 50px;

    overflow: scroll;
    /* background-color: brown; */
}

#todoContainer::-webkit-scrollbar {
    display: none;
}

.todo-item {
    width: 100%;
    margin: 15px auto;
    padding: 10px;

    display: flex;
    flex-direction: row;


    position: relative;

    border: 1px solid #ddd;
    border-radius: 30px;

    background: #818181ba;
}

.todo-item span {
    width: auto;
    padding: 0 10px;
    border-right: 2px solid #ddd;

    flex: 1 0 200px;
    text-align:left;
}

.close-btn {
    width: 70px;
    height: 100%;
    padding: 10px;

    position: absolute;
    right: 0;

    border: 1px solid darkred;
    border-radius: 0 30px 30px 0;
    cursor: pointer;

    font-size: clamp(11px, 2vw, 18px);
    color: white;

    background: rgb(196, 33, 33);
}
.close-btn:hover {
    background: darkred;
    box-shadow: inset 0 2px 5px black;
}

#newItem {
    width: auto;
    height: 40px;
    padding: 0 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50px;
    cursor: pointer;

    font-size: clamp(11px, 2vw, 24px);

    background-color: rgb(22, 95, 158);
}

#newItem:hover {
    box-shadow: inset 2px 0 4px black;
    background-color: rgb(18, 69, 113);
}

#logo {
    width: 180px;

    position: absolute;
    right: 0;
}

#infoText {
    width: auto;
    height: 25px;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #ccc;
    text-align: center;
}

#confirmInfo {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

#confirmInfo:hover {
    background-color: #388E3C;
}

.pickUp {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* z.B. Kategorie: Abholung, Was: Fertigungsauftrag, Von Tisch: T29, Zu Tisch: V71 */
}

.delivery {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* z.B. Kategorie: Lieferung, Was: Palette, Zu Tisch: 25 */
}

.info {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* z.B. Kategorie: Info, Von: z.B. Peter, An: z.B. Julia */
    grid-template-rows: repeat(2, 1fr); /* Info: text */
}

/* * ----------------------------------------------------- */