/* Allgemeine Stile */
* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;

    display: grid;
    place-items: center;

    overflow: hidden;
    background-color: black;
}

main {
    width: 80%;
    height: 80%;

    font-size: 1.2em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

    /* background-color: gray; */
}

#index-site {
    color: rgb(212, 212, 212);
}

#newToDo-site {
    color: rgb(53, 53, 53);
}

h1 {
    font-size: clamp(20px, 7vh, 60px);
}

a {
    text-decoration: none;
    color: white;
}

.pos-abs-center {
    transform: translate(50% 50%);
}

/* Titel */
#titel-TodoList {
    height: 10vh;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
}

.icon {
    max-width: 50px;
}

#logo {
    height: 70%;
}

#newItem-Btn {
    max-width: 220px;
    width: 15vw;
    max-height: 45px;
    height: 5vh;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50px;
    background-color: #2162a8;    
}

#newItem-Btn:hover {
    background-color: #18497ed2;
}

/* Hauptcontainer */
.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Step-Wrapper */
.stepWrapper {
    display: none; /* Alle Schritte sind standardmäßig ausgeblendet */
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* Boxen für Auswahl */
.box {
    display: inline-block;
    padding: 15px;
    margin: 5px;
    background-color: #e0e0e0;
    cursor: pointer;
    border-radius: 5px;
}

.box:hover {
    background-color: #d0d0d0;
}

/* Verbrauchsgüter Fix */
#step-verbrauch {
    display: none; /* Schritt ist jetzt standardmäßig ausgeblendet */
}

/* To-Do Liste */
#todoContainer {
    width: 100%;
    height: calc(100% - 10vh);
    display: flex;
    flex-direction: column;

    overflow: scroll;
    /* background-color: brown; */
}

.todo-item {
    background: #4f4f4f;
    padding: 10px;
    margin: 5px;
    border-left: 5px solid #007bff;

    display: grid;
    grid-template-columns: repeat(5, minmax(200px, 1fr)) 0.3fr;
    grid-template-rows: auto;
    align-items: center;
}

.todo-item span {
    margin-left: 20px;
}

.todo-item span:not(:last-of-type) {
    border-right: 2px solid rgb(100, 100, 100);
}

#todoContainer::-webkit-scrollbar {
    display: none;
}

.close-btn {
    height: 50px;
    aspect-ratio: 1/1;

    background: red;
    color: white;
    cursor: pointer;

    grid-column: 6 / 7;
}

.info span:last-of-type {
    grid-column: 2 / span 4;
}
